dnspython
tgcrypto
python-dotenv
flask
aiofiles
aiohttp
uvloop
psutil
pyrotgfork>=2.1.0
aiofiles
aiohttp
dnspython
flask
psutil
pyrotgfork
python-dotenv
tgcrypto
uvloop
aiofiles
aiohttp
dnspython
flask
psutil
pyrotgfork
python-dotenv
tgcrypto
uvloop